.mycontainerReg{
  /*background: url("../../images/bg.jpg") no-repeat 0px 0px;
  background-size: cover;*/
  width:100%;
  text-align: center;
  padding-right: 6%;
}

.mycontainerReg h3{
  color: darkgrey;
}
.mycontainerReg h5{
  color: darkgrey;
}
.errContainer{
  color:red;
  font-size: 0.8em;
  font-weight: 700;
}
.imageContainer{
  width: 30%;
  margin: 0 auto;
}
.login {
  width:100%;
}
form li,form li.psw {
  list-style: none;
  width:99%;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin: 1em 0;
  outline: none;
}

form {
}
.icon {
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  margin: 14px -28px 0px 8px;
}
.user {
  background: url(../../images/icons.png) no-repeat 0px 0px ;
}
.mail {
  background: url(../../images/icons.png) no-repeat 0px -28px ;
}
.key {
  background: url(../../images/icons.png) no-repeat 0px -57px;
}
.login input[type="text"],.login input[type="password"], .login input[type="email"] {
  width: 86.9%;
  padding:1em 1em 1em 3em;
  color: #999;
  font-size: 15px;
  outline: none;
  font-weight: 300;
  border: none;
  background: none;
}
.login input[type="password"] {
  width: 86.9%;
}
.dropbox {
  border-top: 1px solid #ccc;
}
.strip {
  background:#fff;
  color: #999;
  width:24px;
  height:24px;
  padding:9px;
  margin: 0 auto;
  position: absolute;
  bottom: -82%;
  left: 47%;
  border: 1px solid #999;
  font-size: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 1em;
}
.submit {
  position: relative;
}
.submit input[type="submit"]{
  font-size:1.3em;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding:19px 19px;
  width: 100%;
  border: none;
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  background: #5a95e6;
  font-family: 'Lato', sans-serif;
}
.submit input[type="submit"]:hover{
  background:#5a95e6;
}
.dropbox a {
  color: #FFF;
  font-size: 1.3em;
  display: block;
  height:61px;
  line-height:3.2em;
  text-align: center;
  font-weight: 400;
  margin-top: 1.5em;
}
.drop:before {
  background-color: #2561b4;
  content: url(../../images/drop.png) no-repeat;
  width: 53px;
  max-height:53px;
  height: 100%;
  position: absolute;
  display: block;
  padding: 4px 1px;
  top: 0px;
  left: -33px;
}
.drop {
  background-color: #5a95e6;
  font-size:1.2em;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 0px 20px;
  margin-left: 37px;
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
}