
.mycontainer{
  width: 100%;
  text-align: center;
}
.mybttn{
  border-radius: 2em;
}
.imageMenu{
	float:left;
	width: 15%;
	height: 50px;
	border-radius: 100%;
	margin-right: 10%;
	margin-top: 3%;
	margin-left: 3%;
}