.tabs{
  width: 100%;

}

.myTab{
  width: 33%;
}
.attending{
  color: red;
}

.commentInput{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  z-index: 22;
}
textarea {
  resize: none;
  z-index: 22;
}