<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
      <forms loginUrl="Login.aspx"/>
      <deny users="?"/>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Index.aspx" slidingExpiration="true" timeout="10800"/>
      
    </authentication>
    <authorization>
      
    </authorization>
  </system.web>
  <connectionStrings>
    <add name="konekcijaNaBazu" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|\GalleryAddDatabase.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>