<div *ngIf="_isLoading">
  <my-spinner></my-spinner>
</div>
<div *ngIf="_deletingEvent" class="spinnerDivRel">
    <div style="background-color: ghostwhite; width: 30%; height: 25%; margin: 0 auto; margin-top: 20em; text-align: center; padding: 2% 5% 5% 5%; border-radius: 5%;">
      <h3>Are You sure You want to cancel Your Event?</h3><br><br>
      <button class="btn btn-success" (click)="onDeleteClicked('Yes')"><i class="fa fa-check" aria-hidden="true"></i> Yes</button><br><br>
      <button class="btn btn-danger" (click)="onDeleteClicked('No')"><i class="fa fa-times" aria-hidden="true"></i> No</button>
    </div>
</div>

<!--single-page-->
<div class="single-page main-grid-border" *ngIf="!_isLoading">
  <div class="container">
    <div class="product-desc">
      <div class="col-md-7 product-view">
        <h2>{{_humEvent.Caption}}</h2>
        <p> <i class="glyphicon glyphicon-map-marker"></i>{{_humEvent.Address}}<a></a>, <a>{{_humEvent.City}}</a>|
          , Event ID: {{_humEvent.Id}}</p>
        <div class="flexslider">
          <!--<div *ngFor="let photo of _donation.Photos">
            <img [src]="photo.PhotoPath" width="70%"/>
          </div>-->
          <img [src]="_humEvent.Photo" width="70%"/>
        </div>
        <div class="product-details">
          <p><strong>Description</strong> {{_humEvent.Description}}</p>
          <br><br>
          <h4><i class="fa fa-heart" style="color:red;"></i>{{_humEvent.UsersWhoAttending.length}}(250)</h4>

        </div>
      </div>
      <div class="col-md-5 product-details-grid">
        <div class="item-price">
          <div class="product-price">
            <p class="p-price">City</p>
            <h3 class="rate">{{_humEvent.City}}</h3>
            <div class="clearfix"></div>
          </div>
          <div class="condition">
            <p class="p-price">Address</p>
            <h4>{{_humEvent.Address}}</h4>
            <div class="clearfix"></div>
          </div>
          <div class="condition">
            <p class="p-price">Starting At:</p>
            <h4>{{_humEvent.StartingTime | date:'yyyy-MM-dd HH:mm'}}</h4>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="interested text-center" *ngIf="_humEvent.UserOwnerId != _userId">
          <h4>Interested in this Event?<small> Attend it!</small></h4>
          <a class="account" (click)="AttendToEvent()">I want to come!</a>
          <br><br>
        </div>
        <div class="interested text-center" *ngIf="_humEvent.UserOwnerId == _userId">
          <h4>Options:<small></small></h4>
          <p><button class="btn btn-danger" (click)="deleteEventPopup()"><i class="fa fa-trash" aria-hidden="true"></i>Cancel Event</button></p>
          <br><br>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--//single-page-->
