<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:with="currentPage='stations'">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Autoservis" />
		<meta name="author" content="" />
		<!--  <link rel="icon" href="../../favicon.ico" />-->
		
		<title>Autoservis</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	</head>
	
	<body>
		<div th:include="fragments/header::navigation"></div>

		<div class="container">
			<h2>Ažuriranje poslovnice</h2>
	
			<div class="row">
				<div class="col-md-7">
					<form th:action="@{/private/station/update}" class="form-horizontal" id="station-form" method="post" role="form" autocomplete="off">
						<input class="hidden" type="text" name="mode" id="mode" th:value="${form.mode}" />
						<input class="hidden" type="text" name="station.id" id="station.id" th:value="${station.id}" />
						<input class="hidden" type="text" name="station.status" id="station.status" th:value="${station.status}" />
						<input class="hidden" type="text" name="station.geolocation" id="station.geolocation" th:value="${station.geolocation}" />
	
						<div class="form-group">
							<label class="control-label col-sm-3" for="station.name">Naziv poslovnice:</label>
							<div class="col-sm-9">
								<input type="text" name="station.name" id="station.name" tabindex="1" class="form-control" placeholder="Naziv poslovnice" autocomplete="off"
									th:value="${station.name}" th:required="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="station.address">Adresa:</label>
							<div class="col-sm-9">
								<input type="text" name="station.address" id="station.address" tabindex="2" class="form-control" placeholder="Adresa poslovnice" autocomplete="off"
									th:value="${station.address}" th:required="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="station.manager">Voditelj:</label>
							<div class="col-sm-9">
								<select th:field="*{form.station.manager}" id="form.station.manager" class="form-control select" tabindex="3" th:required="true">
									<option th:each="manager : ${managers}" th:value="${manager.id}" th:text="${manager.firstName + ' ' + manager.lastName}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="openFrom">Otvoreno od:</label>
							<div class="col-sm-9 input-group date">
								<input type="text" name="openFrom" id="openFrom" tabindex="4" class="form-control" autocomplete="off" th:value="${station.openFrom}"  />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-time"></span>
									</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="openUntil">Otvoreno do:</label>
							<div class="col-sm-9 input-group date">
								<input type="text" name="openUntil" id="openUntil" tabindex="5" class="form-control" autocomplete="off" th:value="${station.openUntil}" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-time"></span>
								</span>
							</div>
						</div>
						
						<div id="map" th:attr="data-cords=${station.geolocation}"></div>
						
						<br />
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10 text-center">
								<button type="submit" name="action" value="delete" class="btn btn-warning">Obriši</button>
								<button type="submit" name="action" value="save" class="btn btn-primary">Spremi</button>
							</div>
						</div>
					</form>
	
				</div>
			</div>
		</div>
	
		<footer class="footer-bottom" th:include="fragments/footer :: footer"></footer>
	
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsX31cauYAj-4g0cx28lsslfMPIi3RGvk"></script>
		<script>
			$('.select').select2();
			$('.date').datetimepicker({
				format : 'HH:mm'
			});
	
			var lat = $('#map').data('cords').split(",")[0];
			var lng = $('#map').data('cords').split(",")[1];
			$('#map').height(350);
			var markers = [];
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom : 15,
				center : new google.maps.LatLng(lat, lng),
				mapTypeId : google.maps.MapTypeId.ROADMAP,
				mapTypeControl : true,
				scaleControl : true,
				navigationControl : true,
				navigationControlOptions : {
					style : google.maps.NavigationControlStyle.SMALL
				}
			});
			
			addMarker(new google.maps.LatLng(lat, lng));
			
			map.addListener('click', function(event) {
				if (markers.length == 0) {
					addMarker(event.latLng);
				}
		    });
			
			function addMarker(location) {
				var marker = new google.maps.Marker({
					position : location,
					map : map
				});
				google.maps.event.addListener(marker, 'click', function () {
					removeMarker(this);
				});
				markers.push(marker);
				$('#station\\.geolocation').val(marker.getPosition().lat() + ',' + marker.getPosition().lng());
			}
			
			function removeMarker(marker) {
				marker.setMap(null);
				markers = [];
				$('#station\\.geolocation').val('');
			}
		</script>
	</body>
</html>
